@import "tailwindcss";

@font-face {
  font-family: "OldNewspaper";
  src: url("/fonts/OldNewspaperTypes.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TimesNewRoman";
  src: url("/fonts/times-new-roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
